:root {
  --bg: #fff;
  --text: #000;
}

body.dark {
  --bg: #121212;
  --text: #fff;
}

body {
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  /* padding: 16px; */
}

.search-bar {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 15px 40px;
  width: 100%;
  background: var(--bg);
  color: var(--text);
}

body.dark .search-bar {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.loading-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}



body.dark .loading-fixed {
  background-color: rgba(158, 158, 158, 0.8);
}
body.dark input{
color: #000 !important;
}
body.dark input::placeholder{
  color: #000 !important;
  }
  body.dark input, body.dark textarea{
    /* border: 1px solid #ccc; */
    background: #f4f4f6;
    color: #000;
    }

@media (min-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
